# ignore static files
/public

# ignore generated production files
/build

# don't code coverage output
/coverage

# e2e subproject has own linting config
/e2e

package.json
package-lock.json
tsconfig.json

*.md
*.svg
*.css
