# ignore static files
/public

# ignore generated production files
/build

# don't code coverage output
/coverage

.editorconfig
.gitignore
.prettierignore
.eslintignore
.env

# ignore all svg files
*.svg
